Source: lxd
Section: admin
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Standards-Version: 4.2.1
Homepage: https://linuxcontainers.org/
Vcs-Git: https://github.com/lxc/lxd
Vcs-Browser: https://github.com/lxc/lxd
Build-Depends: debhelper (>= 10),
               help2man,
               libacl1-dev,
               libcap-dev,
               liblxc1,
               liblxc-dev,
               libsqlite3-dev,
               libtool,
               libudev-dev,
               libuv1-dev,
               golang-1.17-go,
               liblz4-dev,
XS-Go-Import-Path: github.com/lxc/lxd

Package: lxd-client
Architecture: amd64 arm64 armhf i386 ppc64el s390x
Depends: ${misc:Depends}, ${shlibs:Depends}
Built-Using: ${misc:Built-Using}
Suggests: lxd
Breaks: lxc1 (<= 2.0.0~rc13-0ubuntu2~)
Replaces: lxc1 (<= 2.0.0~rc13-0ubuntu2~)
Description: Container hypervisor based on LXC - client
 LXD offers a REST API to remotely manage containers over the network,
 using an image based workflow and with support for live migration.
 .
 This package contains the command line client.

Package: lxd
Architecture: amd64 arm64 armhf i386 ppc64el s390x
Depends: adduser,
         lxd-libraft (= ${binary:Version}),
         lxd-libdqlite (= ${binary:Version}),
         lxd-client (= ${binary:Version}),
         dnsmasq-base,
         ebtables,
         iproute2,
         iptables,
         rsync,
         squashfs-tools,
         attr,
         qemu-kvm,
         ovmf,
         zstd,
         ${misc:Depends},
         ${shlibs:Depends}
Built-Using: ${misc:Built-Using}
Recommends: apparmor
Suggests: criu, lxd-tools
Description: Container hypervisor based on LXC - daemon
 LXD offers a REST API to remotely manage containers over the network,
 using an image based workflow and with support for live migration.
 .
 This package contains the LXD daemon.

Package: lxd-tools
Architecture: amd64 arm64 armhf i386 ppc64el s390x
Depends: python3, python3-lxc, ${misc:Depends}, ${shlibs:Depends}
Built-Using: ${misc:Built-Using}
Description: Container hypervisor based on LXC - extra tools
 LXD offers a REST API to remotely manage containers over the network,
 using an image based workflow and with support for live migration.
 .
 This package contains extra tools provided with LXD.
  - fuidshift - A tool to map/unmap filesystem uids/gids
  - lxc-to-lxd - A tool to migrate LXC containers to LXD
  - lxd-benchmark - A benchmarking tool for LXD

Package: lxd-libraft
Architecture: amd64 arm64 armhf i386 ppc64el s390x
Depends: ${misc:Depends}, ${shlibs:Depends}
Built-Using: libuv1-dev, liblz4-dev
Conflicts: libraft0, libraft-dev
Description: C implementation of the Raft consensus protocol 
 Fully asynchronous C implementation of the Raft consensus protocol.

Package: lxd-libdqlite
Architecture: amd64 arm64 armhf i386 ppc64el s390x
Depends: ${misc:Depends}, ${shlibs:Depends}
Built-Using: libuv1-dev, libsqlite3-dev
Conflicts: libdqlite0, libdqlite-dev
Description: Embeddable, replicated and fault tolerant SQL engine. 
 dqlite is a C library that implements an embeddable and replicated SQL database engine with high-availability and automatic failover.