#!/usr/bin/make -f
# -*- makefile -*-

# DH verbose mode
export DH_VERBOSE=1

PKGDIR=debian/tmp
# get VERSION from upstream source
VERSION=$(shell grep "var Version" $(CURDIR)/shared/version/flex.go | awk -F '"' '{print $2}')

#include /usr/share/dpkg/default.mk

export DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
export DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

# https://golang.org/doc/code.html#GOPATH
export GOPATH := $(CURDIR)/obj-$(DEB_BUILD_GNU_TYPE)
# set GOBIN
export GOBIN := $(GOPATH)/bin
# -mod vendor makes go use modules from vendor directory
export GOFLAGS=-mod=vendor

export PATH := /usr/sbin:/usr/bin:/sbin:/bin:/usr/lib/go-1.17/bin:$(GOBIN)

# used to build LXD against bundled libraft and libdqlite
export CGO_CFLAGS=-I$(CURDIR)/vendor/raft/include/ -I$(CURDIR)/vendor/dqlite/include/
export CGO_LDFLAGS=-L$(CURDIR)/vendor/raft/.libs -L$(CURDIR)/vendor/dqlite/.libs/
export LD_LIBRARY_PATH=$(CURDIR)/vendor/raft/.libs/:$(CURDIR)/vendor/dqlite/.libs/
export CGO_LDFLAGS_ALLOW=(-Wl,-wrap,pthread_create)|(-Wl,-z,now)

%:
	dh $@ --builddirectory=obj-$(DEB_BUILD_GNU_TYPE) --with systemd

override_dh_auto_clean:
	rm -rf --one-file-system $(GOPATH)
	dh_auto_clean

override_dh_auto_configure:
	echo "There is no need to run dh_auto_configure when using go modules"

override_dh_auto_build:
	# first lets build LXD deps
	$(MAKE) deps
	# just use Makefile provided by LXD for building
	$(MAKE)

override_dh_auto_install:
	mkdir -p debian/tmp/usr
	mkdir -p debian/tmp/usr/lib/$(DEB_BUILD_GNU_TYPE)
	cp -r $(GOBIN) debian/tmp/usr
	cp --preserve=links $(CURDIR)/vendor/raft/.libs/* debian/tmp/usr/lib/$(DEB_BUILD_GNU_TYPE)/
	cp --preserve=links $(CURDIR)/vendor/dqlite/.libs/* debian/tmp/usr/lib/$(DEB_BUILD_GNU_TYPE)/

	dh_auto_install -- --no-source

override_dh_install:
	mkdir -p $(PKGDIR)/usr/share/man/man1/
	# auto generate manpages
	$(PKGDIR)/usr/bin/lxd manpage $(PKGDIR)/usr/share/man/man1/
	$(PKGDIR)/usr/bin/lxc manpage $(PKGDIR)/usr/share/man/man1/

	# Install bash completion scripts
	mkdir -p $(PKGDIR)/usr/share/bash-completion/completions/
	cp scripts/bash/lxd-client $(PKGDIR)/usr/share/bash-completion/completions/lxc

	# Trigger normal dh_install
	dh_install

override_dh_installinit:
	install -d $(CURDIR)/debian/lxd/lib/systemd/system/
	install $(CURDIR)/debian/lxd.lxd-containers.service $(CURDIR)/debian/lxd/lib/systemd/system/lxd-containers.service
	dh_installinit
	# Update arch-specific paths
	sed -i "s#@LIBEXECDIR@#/usr/lib/${DEB_HOST_MULTIARCH}#g" debian/lxd/lib/systemd/system/lxd.service

#override_dh_systemd_start:

override_dh_auto_test:
	echo "The testsuite requires privileges and so is run through autopkgtest"
